@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PP Neue Corp';
  src: url('/fonts/PPNeueCorp-CompactUltralight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Corp';
  src: url('/fonts/PPNeueCorp-CompactMedium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Corp';
  src: url('/fonts/PPNeueCorp-CompactUltrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  @apply font-sans;
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


